In [1]:
from rouge import Rouge 

hypothesis = 'Hace 2 años, un niño entró en mi casa, me abusó sexualmente. Mi mamá me odia por eso, ella cree que fue mi culpa desde ese día todo cambió.'

reference = "Hace 2 años entró un chico a mi casa, abusó sexualmente de mí. Mi mamá me odia por eso, cree que fue mi culpa desde ese día todo cambió. Mi mamá siempre me decía que ella era el amor y la luz de su vida, que ella era la niña hermosa de ella: suplicante_cara :: llorar: pero desde ese día ella cambió y solo me reprocha en todo momento lo que soy: una fracasada , que no compro nada, que salgo de la casa de ella, que no quiere ser ternme con ella y que soy una decepción (muchas cosas feas) me duele mucho porque somos mi mamá y yo si yo la amo: suplicante_cara: pero ella no se siente bien, no puedo sentirme bien, casi reprendió el semestre por pensar la situación, no me concentro en nada, hace 2 años Y no hay un solo día que mi mente no lo haga recuerda esa noche: llorar :, solo quiero estar llorando todo el tiempo por mi miserable vida, de verdad no quiero pensar, ya no quiero nada, no quiero dolor: suplicante_cara: no se que hacer do: pensativo: sé que nadie va a leer, al menos me ayuda a desahogarme, al menos aunque sea un bot que me pregunte."

rouge = Rouge()
scores = rouge.get_scores(hypothesis, reference)

In [2]:
scores

[{'rouge-1': {'f': 0.22689075416248858,
   'p': 0.9310344827586207,
   'r': 0.1291866028708134},
  'rouge-2': {'f': 0.14406779451881643,
   'p': 0.6071428571428571,
   'r': 0.08173076923076923},
  'rouge-l': {'f': 0.3066666637146667,
   'p': 0.8518518518518519,
   'r': 0.18699186991869918}}]

In [3]:
import pandas as pd

In [5]:
pegasus = pd.read_excel("summaries_with_Pegasus.xlsx", index_col=0)
pegasus.head()

,RelatoFixedTranslated,Summaries
0,I have suffered sexual abuse for as long as I ...,['I have been sexually abused by a family memb...
1,I feel so much anger so much helplessness. Eve...,"[""You can't live in a society that ridicules y..."
2,I have been leading a normal life for a long t...,['The amount of bad memories that go through m...
3,I had a supposed uncle ... from the time I am ...,"[""From the time I was 8 years old, he groped m..."
4,30 years ago when I turned 15 my mom told me t...,['30 years ago when I turned 15 my mom told me...

In [6]:
bert = pd.read_excel("summaries_with_BERT.xlsx", index_col=0)
bert

,RelatoFixedTranslated,Summaries
0,I have suffered sexual abuse for as long as I ...,I have suffered sexual abuse for as long as I ...
1,I feel so much anger so much helplessness. Eve...,I feel so much anger so much helplessness. The...
2,I have been leading a normal life for a long t...,I have been leading a normal life for a long t...
3,I had a supposed uncle ... from the time I am ...,I had a supposed uncle ... from the time I am ...
4,30 years ago when I turned 15 my mom told me t...,NaN
...,...,...
1177,One day I did not want to have sexual relation...,One day I did not want to have sexual relation...
1178,I was 5 months pregnant my partner wanted to h...,I was 5 months pregnant my partner wanted to h...
1179,"My name is Sarasa, I am 16 years old and I am ...","My name is Sarasa, I am 16 years old and I am ..."
1180,"I do not remember when I am abused, I do not k...",the next day I woke up and I would not remembe...
1181,just to remember it again neurasthenia 14 year...,NaN

In [15]:
# Rouge of Pegasus
rouge = Rouge()

text = pegasus['RelatoFixedTranslated'][0]

summary_peg = pegasus['Summaries'][0]

scores = rouge.get_scores(summary_peg, text)
scores

[{'rouge-1': {'f': 0.15942028769481204,
   'p': 0.6470588235294118,
   'r': 0.09090909090909091},
  'rouge-2': {'f': 0.10294117439446371,
   'p': 0.4375,
   'r': 0.058333333333333334},
  'rouge-l': {'f': 0.1538461512426036, 'p': 0.5, 'r': 0.09090909090909091}}]

In [16]:
text = bert['RelatoFixedTranslated'][0]
summary_bert = bert['Summaries'][0]

scores = rouge.get_scores(summary_bert, text)
scores

[{'rouge-1': {'f': 0.4155844122170687,
   'p': 0.9696969696969697,
   'r': 0.2644628099173554},
  'rouge-2': {'f': 0.3947368387811635, 'p': 0.9375, 'r': 0.25},
  'rouge-l': {'f': 0.47863247490393745,
   'p': 0.9655172413793104,
   'r': 0.3181818181818182}}]

In [ ]:
accumulative_score = 0
for i in len(bert):
    score = rouge.get_scores(bert['Summaries'][i], bert['RelatoFixedTranslated'][i])
    accumulative_score += score

print